body {
	font-family: Quicksand;
	font-size: larger;
	margin: 0;
	padding: 0;
}
.content {
	width: 75%;
	max-width: 1050px;
	padding: 3em;
	margin: auto auto;
	color: white;
	text-align: center;
}
.headline div.content {
	padding: 0.5em;
	text-align: left;
}
.headline div.content a.float-right {
	float: right;
	margin: 2em;
}
.downloads {
	background-color: rgba(25,60,83,1);
	padding: 100px;
}
.downloads div img {
	width: 5em;
}
.content a {
	color: #47C2B6;
	font-size: smaller;
}
.content address {
	display:inline;
	font-style: normal;
}
.content address a{
	color:  rgba(25,60,83,1);
}
.socialmedia {
	background-color: #B3E3DE;
}
.socialmedia a, .socialmedia p, .contact .content label {
	color: #193750;
	font-size: smaller;
}
.left, .center-left, .center-right, .right {
	float: left;
	width: 25%;
}
.clear {
	clear: left;
}
@media screen and (max-width:800px) {
	.left, .center-left, .center-right, .right, .left-side, .right-side {
	  	width:100%;
	}
}
